<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
	crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">BLAZE</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link active" aria-current="page" href="/orders">Orders</a> 
						<a class="nav-link" href="/products">Products</a>
						<a class="nav-link" href="/clients">Clients</a>
					</div>
				</div>
			</div>
		</nav>
	</div>
	
	
		<div class="container">

		<div class="row">
			<h2>Orders</h2>
		</div>
		<br>
		 <form th:action="@{/orders}" >
		 				<label>NAME: </label>
                        <input type="text" name="name"/>
                        <button type="submit" class="btn btn-success">Buscar <i class="fa fa-trash"></i>
                        </button>
          </form>
          <br>
		<div>
			<table class="table">
			
				<thead>
					<tr>
						<th>N°</th>
						<th>Consumer</th>
						<th>Status</th>
						<th>Date</th>
						<th>Total</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order,i:${orders}">
						<td th:text="${i.index+1}"></td>
						<td th:text="${order.name}"></td>
						<td td th:switch="${order.status}">
							<span th:case="'P'">PENDING</span>
							<span th:case="'C'">COMPLETE</span>
							<span th:case="'R'">REJECT</span>
						</td>
						<td th:text="${order.date}"></td>
						<td th:text="'$ '+ ${order.total} ?:'$0.00'"></td>
						<td><a class="btn btn-primary" th:href="@{'orders/' + ${order.id_pedidos}(name=${order.name}, status=${order.status}, date=${order.date})}">Edit</a> </td>
					</tr>
				</tbody>
			</table>
			
			

		</div>
		<br>
		<nav aria-label="Page navigation example">
  			<ul class="pagination justify-content-end">
	    		<li class="page-item disabled">
	     		 	<a class="page-link">Previous</a>
	    		</li>
			    <li class="page-item"><a class="page-link" href="#">1</a></li>
			    <li class="page-item"><a class="page-link" href="#">2</a></li>
			    <li class="page-item"><a class="page-link" href="#">3</a></li>
			    <li class="page-item">
			      <a class="page-link" href="#">Next</a>
			    </li>
  			</ul>
		</nav>

	</div>

</body>
</html>